<!doctype html>
<html lang="en">

<head>
  <%- include("../partials/head"); %>
</head>

<body>
  <header>
    <%- include("../partials/navbar"); %>
  </header>
  <hr />
  <main>
    <section>
      <h2>YOU SEEM TO BE LOST!</h2>
      <h3>Oops! The page you're looking for does not exist.</h3>
      <p>Try searching again or use the go back button below.</p>
      <a href="/">Go back to home</a>
    </section>
  </main>
  <hr />
  <footer>
    <%- include("../partials/footer"); %>
  </footer>
</body>

</html>