<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head"); %>
  </head>
  <body>
    <header><%- include("../partials/header"); %></header>
    <hr />
    <main>
      <section class="lost">
        <h1>YOU SEEM TO BE LOST!</h1>
        <h4>Oops! The page you're looking for does not exist.</h4>
        <p>Try searching again or use the go back button below.</p>
        <a href="/"><button class="btn-normal">Take me back home</button></a>
      </section>
    </main>
    <hr />
    <footer><%- include("../partials/footer"); %></footer>
  </body>
</html>
