<!doctype html>
<html lang="en">

<head>
  <%- include("../partials/head"); %>
    <meta http-equiv="refresh" content="0;URL='<%= data.inviteLink %>'" />
</head>

<body>
  <p>
    If you are not redirected automatically,
    <a href="<%= data.inviteLink %>">click here</a>.
  </p>
</body>

</html>