:root {
  --bg-clr: #121212;
  --txt-clr: #f5f5f5;
  --accent-clr: #5865f5;
  --hover-clr: #7289da;
  --shadow-clr: rgba(255, 255, 255, 0.2);
  --primary-clr: #000000;
  --secondary-clr: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-clr: #f5f5f5;
    --txt-clr: #212121;
    --accent-clr: #5865f5;
    --hover-clr: #7289da;
    --shadow-clr: rgba(0, 0, 0, 0.2);
    --primary-clr: #ffffff;
    --secondary-clr: #000000;
  }
}

html {
  color-scheme: dark light;
}

body {
  font: 1em system-ui, sans-serif;
  text-align: center;
  background-color: var(--bg-clr);
  color: var(--txt-clr);
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: inherit;
}

nav {
  background-color: var(--accent-clr);
}

#hero a,
nav a:not(:first-child) {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  border-radius: 8px;
  padding: 10px;
}

nav a:not(:first-child):focus-within,
nav a:not(:first-child):hover {
  background-color: var(--hover-clr);
}

#hero,
nav,
.stat-values,
#categories,
footer {
  display: flex;
  flex-grow: wrap;
  align-items: center;
  justify-content: space-around;
}

nav img {
  border-radius: 50%;
  width: auto;
  height: 100%;
}

main,
nav {
  padding: 10px;
}

#hero > * {
  flex: 1;
}

#hero img {
  border-radius: 50%;
  width: min(512px, 100%);
  height: auto;
}

#hero a {
  border: 1px solid var(--secondary-clr);
  color: #fff;
  background-color: var(--accent-clr);
}

h1,
h3 {
  color: var(--accent-clr);
}

h2 {
  color: var(--secondary-clr);
}

#features div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  grid-gap: 20px;
}

.feature {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-clr);
}

#features img {
  width: min(250px, 100%);
  height: auto;
}

p {
  text-wrap: balance;
}

button,
input {
  font: inherit;
}

#statistics span {
  display: block;
}

footer {
  font-size: small;
}

@media (width<=768px) {
  #hero,
  footer {
    flex-direction: column;
  }
}

/* commands*/
search,
search input {
  margin-block: 10px;
}

search input {
  width: 70%;
}

.cat-btn,
search input {
  background: none;
  padding: 10px;
  border-radius: 8px;
}

.cat-btn.active {
  background-color: var(--accent-clr);
  color: #fff;
}

.cat-btn:hover,
.cat-btn:focus-within {
  background-color: var(--hover-clr);
  color: #fff;
}

#commands :not(h2) {
  text-align: left;
}

.cmd-wrapper {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-clr);
  margin-block: 10px;
}

.cmd-wrapper:hover,
.cmd-wrapper:focus-within {
  border: 1px solid var(--accent-clr);
  background-color: var(--primary-clr);
}

.cmd-content {
  display: none;
  border: 1px solid var(--secondary-clr);
  padding-inline: 10px;
  border-radius: 8px;
  transition: display 0.3s ease;
}

.cmd-name {
  margin-block: 10px;
}

.cmd-description {
  font-weight: bolder;
  color: var(--secondary-clr);
}

.cmd-content span {
  color: var(--hover-clr);
}

/* tos */
.text-left {
  text-align: left;
}
