<div>
    <a href="/support">Support</a>
    <a href="/terms">Terms</a>
    <a href="/privacy">Privacy</a>
    <a href="https://github.com/LakhindarPal/discord-player-bot" target="_blank" rel="noopener noreferrer">GitHub</a>
</div>
<p>
    Made with ❤️ by
    <a href="https://lakhindar.is-a.dev" target="_blank" rel="noopener noreferrer">Lakhindar</a>
</p>