<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="<%= data.botname %>" />
<title><%= title %></title>
<meta
  name="description"
  content="A bot for better discord music experience. Slash commands supports. Server specific configurable. Audio filters. Multiple platforms links supported."
/>
<meta name="theme-color" content="#5865f5" />
<link rel=" stylesheet" href="/css/style.css" />
<link rel=" stylesheet" href="/css/cmd.css" />
<script src="https://kit.fontawesome.com/0086c4c029.js" crossorigin="anonymous" defer></script>
<script src="/js/script.js" defer></script>
<script src="/js/cmd.js" defer></script>
