<nav class="topnav" id="navbar">
  <a href="/"><img class="icon" src="<%= data.avatar %>" alt="icon" /></a>
  <a href="/" class="nav-link"><i class="fa-solid fa-house fa-beat"></i> Home</a>
  <a href="/commands" class="nav-link"><i class="fa-solid fa-terminal fa-shake"></i> Commands</a>
  <a href="/support" class="nav-link"><i class="fa-solid fa-plus fa-bounce"></i> Invite</a>
  <a href="/support" class="nav-link"><i class="fa-brands fa-discord fa-spin"></i> Support</a>
  <a href="/contact" class="nav-link"><i class="fa-solid fa-at fa-flip"></i> Contact</a>
  <a href="#" id="menuButton" class="menu">
    <i id="menuIcon" class="fa-solid fa-bars"></i>
  </a>
  <button id="darkModeButton">
    <i id="sunMoonIcon" class="fa-solid fa-sun"></i>
  </button>
</nav>
